body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: top;
}

ul, h1, h2, p, h3 {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: '';
    width: 100%;
    display: block;
    clear: both;
}

header {
    background: url("../img/header.png") no-repeat center top;
    padding-bottom: 100px;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.logo {
    margin-top: 95px;
    float: left;
}

header nav {
    float: right;
    margin-top: 120px;
}

.menu li {
    float: left;
    margin-left: 50px;
    list-style: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: bold;
}

.menu li a:hover {
    color: #18f7ef;
}

.slogan {
    text-align: center;
    margin-top: 210px;
    margin-bottom: 250px;
}

.scroll {
    text-align: center;
}

.scroll a {
    text-decoration: none;
}

.scroll img {
    margin-bottom: 10px;
    clear: both;
}

.scroll div {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

.about_block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.about {
    background: #18f7ef;
    padding: 5vw 5.2vw 8vw 5.2vw;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.about h2 {
    font-size: 5.6vw;
    line-height: 5.5vw;
    color: #fff;
    padding-bottom: 4vw;
}

.about h2 span {
    color: #3624ea;
}

.about p {
    font-size: 1.1vw;
    color: #3624ea;
    line-height: 2.2vw;
    font-weight: bold;
    padding-bottom: 4vw;
}

.about a {
    border: 4px solid #fff;
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #342fea;
    padding: 1.3vw 1.6vw;
    display: inline-block;
}

.about a:hover {
    color: #fff;
}

.about_block div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.about_block div:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.about_block div:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
}

.cases {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
}

.photo {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}

.photo img {
    position: absolute;
    bottom: 0px;
}

.cases {
    background: #3624ea;
    padding: 8vw 13.3vw 8vw 17vw;
}

.cases h3 {
    color: #fff;
    font-size: 2.4vw;
    padding-bottom: 2.6vw;
}

.cases div {
    font-size: 0.9vw;
    font-weight: bold;
    color: #fff;
    line-height: 2.3vw;
    padding-bottom: 4vw;
}

.cases a {
    border: 4px solid #fff;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 1.3vw 1.6vw;
    display: inline-block;
}

.cases a:hover {
    color: #18f7ef;
}

#adv {
    background: #000 url("../img/adv_bg.png") no-repeat center top;
    padding-bottom: 401px;
    background-size: cover;
}

#adv h3 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 70px;
    padding-top: 125px;
    width: 460px;
    float: left;
    margin-right: 50px;
}

.desc {
    padding-top: 150px;
    width: 490px;
    float: right;
    color: #fff;
    font-size: 13px;
    line-height: 33px;
}

footer {
    background: #000;
    padding-top: 20px;
    padding-bottom: 120px;
    text-align: center;
}

.copy {
    padding-top: 45px;
    color: #fff;
    font-size: 13px;
    line-height: 33px;
    font-weight: bold;
    padding-bottom: 120px;
}

.footer__menu {
    display: inline-block;
}

.footer__menu li {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    list-style: none;
}

.footer__menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: bold;
}

.footer__menu li a:hover {
    color: #18f7ef;
}